{% extends 'app/base.html' %}
{% block content %}
    <div class="row" style="height: 2.6%"></div>
    <div class="row">
        <div class="col-6">
            <a href="{% url type pk=units.0.pk %}">
                <div class="myBlock4">
                    <img class="top4" src="{{units.0.picture.url}}" alt="test">
                    <div class="bottom4">
                        <p class="text4">{{units.0.title}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url type pk=units.1.pk %}">
                <div class="myBlock4">
                    <img class="top4" src="{{units.1.picture.url}}" alt="test">
                    <div class="bottom4">
                        <p class="text4">{{units.1.title}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="height: 2.6%"></div>
    <div class="row">
        <div class="col-6">
            <a href="{% url type pk=units.2.pk %}">
                <div class="myBlock4">
                    <img class="top4" src="{{units.2.picture.url}}" alt="test">
                    <div class="bottom4">
                        <p class="text4">{{units.2.title}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url type pk=units.3.pk %}">
                <div class="myBlock4">
                    <img class="top4" src="{{units.3.picture.url}}" alt="test">
                    <div class="bottom4">
                        <p class="text4">{{units.3.title}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="height: 2.6%"></div>
    
{% endblock %}